.icon-log-out {
  color: $color-blanco;
  margin-left: 5px;
}

.icon-home {
  margin-top: 1px;
}

.icon-circle-with-plus {
  float: right;
  cursor: pointer;
  color: $color-blanco;
}

.icon-circle-with-minus {
  float: right;
  cursor: pointer;
  color: $color-azul;
  margin-top: 3px;
}
